<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is the about page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <a href="/">home page</a>

    <h1>About This Project</h1>
    <p>This is a practice example of how to start up a flask project. Nathan is probably reading this over my shoulder right now. I did not pay attention during
    the classes that taught it, so im a little behind. I hope this helps me lock in because jesus I really need to.</p>

</body>
</html>